@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #0093b4, #00b8e2);

    --background: 203 65% 2.8%;
    --foreground: 203 10% 96.75%;

    --muted: 203 50% 10.5%;
    --muted-foreground: 203 10% 53.5%;

    --popover: 203 45% 4.55%;
    --popover-foreground: 203 10% 96.75%;

    --card: 203 45% 4.55%;
    --card-foreground: 203 10% 96.75%;

    --border: 203 50% 10.5%;
    --input: 203 50% 10.5%;

    --primary: 203 100% 35%;
    --primary-foreground: 203 10% 96.75%;

    --secondary: 203 50% 10.5%;
    --secondary-foreground: 203 10% 96.75%;

    --accent: 203 50% 10.5%;
    --accent-foreground: 203 10% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 203 10% 96.75%;

    --ring: 203 100% 35%;
  }
}

::-webkit-scrollbar {
  @apply w-1 rounded-full bg-muted/10 md:block;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-muted-foreground/10;
}

body {
  font-family: var(--font-chivo), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rubik), sans-serif;
}
.text-gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
